<div class="call-detail" id="call-<%= call.id %>" style="display: none;">
  <h2>#<%= call.id %> <%= call.condition.name.upcase %></h2>
  <div class="vital-signs">
    <p><strong>Age: </strong><%= call.age %> </p>
    <p><strong>Sex: </strong><%= call.gender.capitalize %> </p>
    <p><strong>B/P: </strong><%= call.blood_pressure %> </p>
    <p><strong>Pulse: </strong><%= call.pulse %> </p>
    <p><strong>Temp: </strong><%= call.temperature %>° </p>
    <p><strong>SpO2%: </strong><%= call.spa02 %> </p>
  </div>

  <div class="condition-fields">
    <%if call.condition.name == "Chest pain" %>
      <%= render "calls/condition/chest_pain", call: call %>
    <% else %>
      <%= render "calls/condition/burn", call: call %>
    <% end %>
  </div>
</div>
