<% if current_user.hospital.nil? %>

  <%= simple_form_for @call, method: :post, url: calls_path do |f| %>

    <div class="card-grid-hospital">
      <%= render "calls/fields/cards", f: f, items: Hospital.all %>
    </div>

    <%= f.input :gender, as: :radio_buttons, collection: Call::VALID_GENDERS %>

    <%= render "calls/fields/age", f: f %>
    <%= render "calls/fields/pulse", f: f %>
    <%= render "calls/fields/blood_pressure", f: f %>
    <%= render "calls/fields/temperature", f: f %>
    <%= render "calls/fields/spao2", f: f %>

    <div class="js-condition-radio-buttons card-grid">
      <%= render "calls/fields/cards", f: f, items: Condition.all %>
    </div>
    ***********
      <div id="form-type-options"></div>
    <%= f.button :submit, "Send" %>

  <% end %>

<% end %>
