<h1>Calls#new</h1>
<p>Find me in app/views/calls/new.html.erb</p>

<%= simple_form_for @call do |f| -%>

  <%= f.association :hospital, as: :radio_buttons, collection: Hospital.all %>
  <%= render "fields/cards", f: f, items: Hospital.all %>

  <%= f.association :condition, as: :radio_buttons, collection: Condition.all %>
  <%= f.input :gender, as: :radio_buttons, collection: Call::VALID_GENDERS %>

  <%= render "fields/age", f: f %>

  <%= f.input :blood_pressure %>
  <%= f.input :pulse %>
  <%= f.input :temperature %>
  <%= f.input :spa02 %>
  <%= f.submit %>
<% end -%>
