<% if current_user.hospital.nil? %>

  <%= simple_form_for @call, method: :post, url: calls_path, html: { class: "multi-screen-form" } do |f| %>

    <div class="form-screen">
      <div class="container">
        <div class="card-grid-hospital">
          <%= render "calls/fields/cards", f: f, items: Hospital.all %>
        </div>
      </div>
    </div>

    <div class="form-screen">
      <div class="container">
          <div class="categories row">
            <% Category.all.each do |category| %>
              <div class="col-6 mb-5">
                <%= link_to category.name, "#", class: "btn btn-condition #{category.slug} js-category-filter scroll-next", "data-category": category.slug %>
              </div>
            <% end %>
        </div>
      </div>
    </div>

    <div class="form-screen">
      <div class="js-condition-radio-buttons js-category-filter-list card-grid" style="display: none;">
        <%= render "calls/fields/cards", f: f, items: Condition.all %>
      </div>
    </div>

    <div class = "form-screen">
      <div class="container-vital_signs">
        <h1>Vital Signs</h1>
        <div class="row">
          <div class="col-6"><%= f.input :gender, as: :radio_buttons, collection: Call::VALID_GENDERS %></div>
          <div class="col-6"><%= f.input :age %></div>
          <div class="col-6"><%= f.input :pulse %></div>
          <div class="col-6"><%= f.input :blood_pressure %></div>
          <div class="col-6"><%= f.input :temperature %></div>
          <div class="col-6"><%= f.input :spa02 %></div>
        </div>
        <div class="row">
          <div class="col-3">
            <%= link_to "Critical", call_emergencies_path, class: "js-critical-button btn btn-danger btn-lg btn-block" %>
          </div>
          <div class="col-9">
            <button class= "btn btn-primary btn-lg btn-block scroll-next" type = "button">Next</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>

<% end %>
