<% if current_user.hospital.nil? %>

  <%= simple_form_for @call, method: :post, url: calls_path do |f| %>

    <div class="form-screen">
      <div class="card-grid-hospital">
        <%= render "calls/fields/cards", f: f, items: Hospital.all %>
      </div>
    </div>

    <div class="form-screen">
      <div class="container">
          <div class="categories row">
            <% Category.all.each do |category| %>
              <div class="col-6 mb-5">
                <%= link_to category.name, "#", class: "btn btn-primary btn-condition #{category.slug} js-category-filter scroll-next", "data-category": category.slug %>
              </div>
            <% end %>
        </div>
      </div>
    </div>

    <div class="form-screen">
      <div class="js-condition-radio-buttons js-category-filter-list card-grid" style="display: none;">
        <%= render "calls/fields/cards", f: f, items: Condition.all %>
      </div>
    </div>

    <div class = "form-screen">
      <h1>Vital Signs</h1>
      <div class="wrapper">
        <p>
          <a class="btn btn-primary" data-toggle="collapse" href="#gender" role="button" aria-expanded="true" aria-controls="collapseExample">
           Gender
          </a>
        </p>
        <div class="collapse" id="gender">
          <div class="card card-body">
            <%= f.input :gender, as: :radio_buttons, wrapper: :no_legend_radio, legend: false, collection: Call::VALID_GENDERS %>
          </div>
        </div>
      </div>
      <%= render "calls/fields/age", f: f %>
      <%= render "calls/fields/pulse", f: f %>
      <%= render "calls/fields/blood_pressure", f: f %>
      <%= render "calls/fields/temperature", f: f %>
      <%= render "calls/fields/spao2", f: f %>
      <button class= "btn-primary scroll-next" type = "button">Next</button>
    </div>

    <div class="form-screen">
      <div id="form-type-options"></div>
      <%= f.button :submit, "Send", class: "btn btn-primary"%>
    </div>
  <% end %>

<% end %>
