<% if current_user.hospital.nil? %>

  <%= simple_form_for @call, method: :post, url: calls_path, html: { class: "multi-screen-form" } do |f| %>

    <div class="form-screen">
      <div class="card-grid-hospital">
        <%= render "calls/fields/cards", f: f, items: Hospital.all %>
      </div>
    </div>

    <div class="form-screen">
      <div class="container">
          <div class="categories row">
            <% Category.all.each do |category| %>
              <div class="col-6 mb-5">
                <%= link_to category.name, "#", class: "btn btn-primary btn-condition #{category.slug} js-category-filter scroll-next", "data-category": category.slug %>
              </div>
            <% end %>
        </div>
      </div>
    </div>

    <div class="form-screen">
      <div class="js-condition-radio-buttons js-category-filter-list card-grid" style="display: none;">
        <%= render "calls/fields/cards", f: f, items: Condition.all %>
      </div>
    </div>

    <div class = "form-screen">
      <div class="container">
      <h1>Vital Signs</h1>
      <div class="wrapper card card-body">
        <div class="form-check form-check-inline">
          <%= f.label :gender %>
          <%= f.input :gender, as: :radio_buttons, wrapper: :no_legend_radio, item_wrapper_class: 'custom-control-inline custom-radio', collection: Call::VALID_GENDERS %>
        </div>

      <%= render "calls/fields/age", f: f %>
      <%= render "calls/fields/pulse", f: f %>
      <%= render "calls/fields/blood_pressure", f: f %>
      <%= render "calls/fields/temperature", f: f %>
      <%= render "calls/fields/spao2", f: f %>
      <button class= "btn-primary scroll-next mx-auto" type = "button">Next</button>
      </div>

      </div>
    </div>
  <% end %>

<% end %>
