<h2><%= field.name.humanize %></h2>
<div class = "form-call-range">
  <% 11.times do |n| %>
    <label>
    <input type="radio" name="call[details[<%= field.name %>]" id="<%= n %>" value="<%= n %>">
      <div>
        <%= n %>
      </div>
    </label>
  <% end %>
</div>
