<h2><%= field.name.humanize %></h2>
<div class="form-check-inline">
  <% field.values.each do |value| %>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="call[details[<%= field.name %>]" id="<%= value %>" value="<%= value %>" checked>
      <label class="form-check-label" for="<%= value %>">
        <%= value %>
      </label>
    </div>
  <% end %>
</div>

