<h2><%= field.name.humanize %></h2>

<% field.values.each do |value| %>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="<%= value %>" name="call[details[<%= field.name %>][]" id="<%= value %>">
    <label class="form-check-label" for="<%= value %>">
      <%= value %>
    </label>
  </div>
<% end %>
