<fieldset class="mb-3">
  <legend class="form-call-legend"><%= field.name.humanize %>:</legend>
  <div class="form-call form-call-checkbox">
    <h1></h1>
    <% field.values.each do |value| %>
      <label>
        <input type="checkbox" value="<%= value %>" name="call[details[<%= field.name %>][]">
        <div class="<%= condition.category.name.downcase %>">
          <%= value %>
        </div>
      </label>
    <% end %>
  </div>
</fieldset>

