<h2><%= field.name.humanize %></h2>
<div class="form-call form-call-percentage">
<% 11.times do |n| %>
    <% value = "#{n * 10}%" %>
    <label>
      <input type="radio" name="call[details[<%= field.name %>]" value="<%= value %>">
      <div class="<%= condition.category.name.downcase %>">
        <%= value %>
      </div>
    </label>
  <% end %>
</div>
