<h2><%= field.name.humanize %></h2>

<% 11.times do |n| %>
  <div class="form-check">
    <% value = "#{n * 10}%" %>
    <input class="form-check-input" type="radio" name="call[details[<%= field.name %>]" value="<%= value %>" checked>
    <label class="form-check-label" for="<%= value %>">
      <%= value %>
    </label>
  </div>
<% end %>
