<% if current_user.hospital %>
  <div class="call-wrapper">

    <div class="sidebar">
      <% @hospital.calls.each do |call| %>
        <%= render "hospitals/call_card", call: call %>
      <% end %>
    </div>

    <div class="content">

    <div class = "container">
      <div class = "border">
        <h2 class = "font-weight-bold"><%= @latest_call.condition.name %></h2>
        <h3>Age:<%= @latest_call.age %></h3>
        <h3>Gender:<%= @latest_call.gender %></h3>
        <h3>B/P:<%= @latest_call.blood_pressure %></h3>
        <h3>Pulse:<%= @latest_call.pulse %></h3>
        <h3>Temp:<%= @latest_call.temperature %></h3>
        <h3>SpO2%<%= @latest_call.spa02 %></h3>
      </div>

      <div class="container border">
        <%if @latest_call.condition.name == "Chest pain" %>
          <%= render "calls/condition/chest_pain", call: @latest_call %>
        <% else %>
          <%= render "calls/condition/burn", call: @latest_call %>
        <% end %>
      </div>

     </div>
    </div>
  </div>
 <%end%>
