<% if current_user.hospital %>
  <div class="call-wrapper">

    <div class="sidebar">
      <% @hospital.calls.each do |call| %>
        <%= render "hospitals/call_card", call: call %>
      <% end %>
    </div>

    <div class="content">

    <div class = "container">
      <h2 class = "font-weight-bold"><%= @latest_call.condition.name %></h2>

      <div class = "vital-signs">
        <p><strong>Age: </strong><%= @latest_call.age %> </p>
        <p><strong>Sex: </strong><%= @latest_call.gender %> </p>
        <p><strong>B/P: </strong><%= @latest_call.blood_pressure %> </p>
        <p><strong>Pulse: </strong><%= @latest_call.pulse %> </p>
        <p><strong>Temp: </strong><%= @latest_call.temperature %>° </p>
        <p><strong>SpO2%: </strong><%= @latest_call.spa02 %> </p>
      </div>

      <div class="container border">
        <%if @latest_call.condition.name == "Chest pain" %>
          <%= render "calls/condition/chest_pain", call: @latest_call %>
        <% else %>
          <%= render "calls/condition/burn", call: @latest_call %>
        <% end %>
      </div>

     </div>
    </div>
  </div>
 <%end%>
